@charset "utf-8";
body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
}

header {
    width: auto;
    height: 500px;
    font-size: 3em;
    text-align: center;
}

footer {
    width: auto;
    height: 500px;
}

@-webkit-keyframes typing {
    from {
        width: 0;
    }
}

@-webkit-keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

h1 {
    margin-top: 400px;
    font: bold 300% Consolas, Monaco, monospace;
    border-right: .1em solid black;
    width: 16.5em;
    width: 21ch;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 4s steps(21, end), blink-caret .5s step-end infinite alternate;
}

p {
    font: bold 300% Consolas, Monaco, monospace;
    border-right: .1em solid black;
    width: 22em;
    width: 27ch;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 5s steps(27, end), blink-caret .5s step-end infinite alternate;
}

.center {
    text-align: center;
}

.icon {
    margin-right: 10px;
}

.hide {
    display: none;
}

.wrapper {
    background-color: #ccc;
    padding: 300px;
    height: 1000vh;
    width: auto;
}

.sticky {
    position: sticky;
    /* 要素を固定/解除する */
    top: 0;
    /* 縦方向の閾値 */
    left: 0;
    /* 横方向の閾値 */
}